html
  head
    title Puck NTAG215 Management
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes")
    link(rel="manifest", href="./site.webmanifest")
  body
    .container#mainContainer
      button.btn.btn-default.btn-lg.btn-block.well#puckConnect(disabled="disabled") Connect to Puck
      button.btn.btn-default.btn-lg.btn-block.well#updateFirmware(disabled="disabled") Update Firmware (DFU Mode)
      button.btn.btn-default.btn-lg.btn-block.well#uploadScript(disabled="disabled") Upload Script (UART Mode)
      button.btn.btn-default.btn-lg.btn-block.well#puckDisconnect(disabled="disabled") Disconnect from Puck
      button.btn.btn-default.btn-lg.btn-block.well#puckName(disabled="disabled") Change Name
      button.btn.btn-default.btn-lg.btn-block.well#puckUart(disabled="disabled") Enable UART

      #readme
        pre#code.hljs
          include:highlight(lang="javascript") ../../ntag215.js

      #slotsContainer

    .editor--terminal
      .editor__canvas
